.titulo {
  text-align: center;
}
.gridMinisterios {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  height: 75vh;
}
.ministerio,
.ministerio1,
.ministerio2,
.ministerio3 {
  padding: 1rem;
}
.ministerio {
  background-repeat: no-repeat;
  background-size: cover;
}
.ministerio1 {
  background-repeat: no-repeat;
  background-size: cover;
}
.ministerio2 {
  background-repeat: no-repeat;
  background-size: cover;
}
.ministerio3 {
  background-repeat: no-repeat;
  background-size: cover;
}
.items {
  margin-left: 5rem;
}
.pie_pagina {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 5rem;
  text-align: center;
}
.formulario {
  margin: 2rem 15rem;
  height: 49vh;
}
.contenidoMinisterio {
}
@media (max-width: 376px) {
  .pie_pagina {
    flex-direction: column;
  }
  .formulario {
    margin: 2rem;
    height: 48vh;
  }
  .gridMinisterios {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
  }
}
.bodyHTML {
  margin-top: 5rem;
}
